.Sidebar {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

button {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  /*border is optional*/
  border-bottom: 1px solid #444;
  cursor: pointer;
}
