.ButtonPanel {
  display: flexbox;
  vertical-align: middle;
  justify-content: flex-start;
  background-color: white;
}

div {
  vertical-align: middle;
}

h5 {
  display: inline-block;
  margin: 10px;
}
